<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Halaman Add Category</h1>

    <form class="" style="margin-top:10px;" action="/category/addCategory" method="POST">
      <input type="text" name="nameCategory" placeholder="Masukan Nama Category">
      <input type="submit" value="SUBMIT">
    </form>
  </body>
</html>
