<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/comment" method="post">
      <input type="text" name="fusername" placeholder=" username">
      <input type="text" name="email" placeholder=" email">
      <textarea rows="4" cols="50" name="komentar" placeholder=" commentar">

      </textarea>
      <button type="submit" name="submit"> Tambah</button>
    </form>
  </body>
</html>
