<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/category">Halaman Category</a>
    <a href="/comment">Halaman Comment</a>
    <a href="/berita">Halaman Berita</a>
  </body>
</html>
