<div class="footer">
  <div class="container">
    <div class="row footer-div">
      <div class="col-md-4">
        <h4 class="title-footer">Newsletter</h4>
        <p><strong>Sign up to our newsletter</strong></p>
        <form class="form-newsletter">
          <div class="input-group">
          <input type="email" class="form-control form-bottom" placeholder="Type your email here">
          <span class="input-group-btn">
          <button class="btn btn-default btn-search-bottom" type="button"><strong>GO</strong></button>
          </span>
          </div>
        </form>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <h4 class="title-footer">More Info</h4>
        <ul class="list-unstyled list-contact">
          <li><a href="#">How to order</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">Membership</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="title-footer">Contact JuniorDev</h4>
        <p><strong>Warung Coding - Jl. Jayasuka gg 3 no 7 Kelurahan Singosari kecamatan bogor timur Kota Batu Kodepos 65144</strong></p>
      </div>
    </div>
  </div>
</div>
