<nav class="navbar navbar-default navbar-top">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-8 col-xs-12">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <img alt="Brand" class="img-responsive img-logo" src="img/logo.png">
              </a>
            </div>
          </div>



          <div class="col-md-8 col-sm-4 col-xs-12">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <form action="/blog" method="post" role="search" class="navbar-form navbar-right">
                <div class="form-group">
                  <input name="search" type="text" class="form-control form-top" placeholder="Type to search.." autofocus>
                </div>
                <button type="submit" class="btn btn-default btn-link btn-search-top text-btn-top"><span class="glyphicon glyphicon-search"></span></button>
              </form>

              <div class="clearfix"></div>

              <ul class="nav navbar-nav navbar-right menu-top">
                <li><a href="/">HOME</a></li>
                <li><a href="/blog">BLOG</a></li>
                <li><a href="/login">LOGIN</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
        </div>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
