<ul class="nav navbar-nav">
  <li class="yamm-fw">
    <a href="/">Home</a>
  </li>
  <li class="yamm-fw">
    <a href="/blog">Blog</a>
  </li>
  <li class="yamm-fw">
    <a href="#">About</a>
  </li>
</ul>
