<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a href="/admin">dassboard</a></li>
    <li><a href="/berita">Berita</a></li>
    <li><a href="/category">category</a></li>
    <li><a href="/comment">Comment</a></li>
  </ul>
</nav>
<a href="/login/logout"><button type="button" name="button" class="btn btn-danger glyphicon glyphicon-remove"> logout</button></a>
